<%= render 'shared/errors', obj: @job %>

<%= form_for @job do |f| %>
<div class="form-group">
  <%= f.label :title %><br />
  <%= f.text_field :title, class: "form-control", placeholder: "Enter Title", autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :description %><br />
  <%= f.text_area :description, class: "form-control", placeholder: "Enter Description", autofocus: true %>
</div>
<div class="form-group">
  <%= f.label "Related Document" %>
  <%= f.file_field :document, class: "form-control-file" %>
</div>
<%= f.submit(@job.new_record? ? "Create Job" : "Update Job", class: "btn btn-primary")  %>
<% end %>