<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to "MyFreelancer", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if can? :create, Freelancer %>
          <li class="nav-item">
            <%= link_to "Register As Freelancer", new_freelancer_path, class: "nav-link" %>
          </li>
          <% end %>
          <% if can? :create, Client %>
          <li class="nav-item">
            <%= link_to "Register As Client", new_client_path, class: "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Jobs", jobs_path, class: "nav-link" %>
          </li>
          <% if logged_in? && current_user.client %>
          <li class="nav-item">
            <%= link_to "Create Job", new_job_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Your Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="usersDropdown">
              <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Delete your profile", user_path(current_user), method: :delete, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
          <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign up", signup_path, class: "nav-link" %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>